<div class="series-table__header">
  <div class="series-table__cell series-table__name">Name</div>
  <div class="series-table__cell series-table__season">Season</div>
  <div class="series-table__cell series-table__network">Network</div>
  <div class="series-table__cell series-table__premiere">Premiere</div>
</div>

<div class="series-table__rows-container" appIntersectionArea>
  <div class="series-table__row" *ngFor="let row of series; trackBy: trackByNameAndSeason">
    <div class="series-table__cell series-table__name">
      {{ row.name }}
      <div class="series-table__genres-container">
        <app-genre-label
          class="series-table__genre-label"
          *ngFor="let genre of row.genres"
          [genre]="genre"
        ></app-genre-label>
      </div>
    </div>
    <div class="series-table__cell series-table__season">
      {{ row.season }}
    </div>
    <div class="series-table__cell series-table__network">
      {{ row.networks | appJoin : ', ' }}
    </div>
    <div class="series-table__cell series-table__premiere">
      {{ row.premiere | date : dateFormat }}
    </div>
  </div>

  <div class="series-table__loader" appIntersectionTarget (intersected)="onScrolledToLast()"></div>
</div>
